$baseColor=#108EE9
$buttonPress=#0B71BA
$bgColor=#fff
$bgGray=#f3f3f3
$fontGray=#666
$fontGrayS=#333
$fontGrayQ=#aaa

// by swz
$gray_3 = #333333
$gray_4 = #444444
$gray_5 = #555555
$gray_6 = #666666
$gray_7 = #777777
$gray_8 = #888888
$gray_9 = #999999
$gray_a = #aaaaaa
$gray_b = #bbbbbb
$gray_c = #cccccc
$gray_d = #dddddd
$gray_e = #eeeeee
$gray_f3 = #f3f3f3
$gray_f5 = #f5f5f5
$gray_f8 = #f8f8f8
$gray_f9 = #f9f9f9

$transparent_3 = rgba(255, 255, 255, 0.3)
$transparent_4 = rgba(255, 255, 255, 0.4)
$transparent_6 = rgba(255, 255, 255, 0.6)
$transparent_7 = rgba(255, 255, 255, 0.7)
$transparent_8 = rgba(255, 255, 255, 0.8)
$transparent_9 = rgba(255, 255, 255, 0.9)

$light_yellow = #FFF6BF
$yellow = #ffd700
$dark_yellow = #FFC125
$contact_dark_yellow = #AD9610
$light_yellow2 = #FFFFE0

$light_red2 = #FDF5E6
$light_red = #EE7942
$red    = #EE6A50
$dark_red = #e64340

$light_blue2 = #F0FFFF
$light_blue = #C6E2FF
$blue   = #63B8FF
$blue2 =#6495ED
$dark_blue = #436EEE

$light_green = #F0FFF0
$green  = #7CCD7C
$dark_green = #458B00
$wx_bg_green = #9eea6a
$wx_btn_green = #07c160

$purple = #AB82FF
$pruple_red = #CD2990

$unselect = #dededf
$selected = rgba(92,205,92, 0.7)